<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>Beauty Salon a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	<!--// Owl-Carousel-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800'" rel="stylesheet">
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
	<div class="banner jarallax" id="home">
		<img class="jarallax-img" src="{% static 'images/BG.jpg' %}" alt="">
		<header>
			<div class="container">
				<div class="header-bottom-agileits">
<!--					<div class="w3-logo">-->
<!--						<h1><a href="artisthome">BEAUTIFY</a></h1>-->

<!--					</div>-->
					<div class="clearfix"></div>
				</div>
			</div>
		</header>
		<!-- navigation -->
		<div class="nav-bg">
		</div>		<div class="container">
<!--					<nav class="navbar navbar-default shift">-->
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
<!--						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"-->
<!--							aria-expanded="false">-->
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					</head>
				</head>
<body>
<!--background-->
<br>
<style>
	.previous {
  color: white;
}
</style>
</style>
<br><br><br>
<a href="orders" class="previous">&laquo; Back</a>
<div class="wrap">
<!-- tab style-1 -->
<div class="row">
	<div class="grid_12 columns">
		<div class="tab style-1">
<!--    					<dl>-->
<!-- 			              <dd class="users"><a class="user active" href="#tab1" > </a></dd>-->
<!--    						<dd class="messages"><a class="msg" href="#tab2"> </a></dd>-->
<!--    						<dd class="settings"><a class="setting" href="#tab3"> </a></dd>-->
<!--    						<dd class="likes"><a class="like" href="#tab4"> </a></dd>-->
<!--    					</dl>-->
    					<ul>
    						<li class="active">
			    				<div class="form">
									<form action="adser" method="post">
										<div class="text-center">
										{% csrf_token %}
										<input placeholder="Services" type="text" class="active textbox" name="addservices" required=""><br><br>
										<textarea name="description" placeholder="Description" class="active textbox" required="" style="width:330px;height:100px"></textarea><br><br>
										<input placeholder="Amount" type="text" class="active textbox" name="amount" required="">
<!--										<input type="text" class="textbox" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">-->
										{% for i in r %}
											<input type="" name="username" value="{{r1}}"  required="" hidden="">
											<input type="" name="name" value="{{i.name}}" required="" hidden="">
										{% endfor %}
										<input type="submit" value="Add" style="background-color:#e36be3ba"> <br><br>
										</div>						</form>
							    </div>
							</li>

						</ul>
		</div>
	</div>
</div>

		<div class="container">
			<!-- header -->
			<!-- //header -->
			<div class="agileits_w3layouts_banner_info">
				<section class="slider">
					<div class="flexslider">

					</div>			</section></div></section></div>		</div></body>


</div></div></body></html>


<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--<html lang="en">-->

<!--<head>-->
<!--	<title>Beauty Salon a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>-->
<!--	&lt;!&ndash; Meta Tags &ndash;&gt;-->
<!--	<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,-->
<!--Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />-->
<!--	<script type="application/x-javascript">-->
<!--		addEventListener("load", function () {-->
<!--			setTimeout(hideURLbar, 0);-->
<!--		}, false);-->

<!--		function hideURLbar() {-->
<!--			window.scrollTo(0, 1);-->
<!--		}-->
<!--	</script>-->
<!--	&lt;!&ndash; //Meta Tags &ndash;&gt;-->
<!--	&lt;!&ndash; Style Sheets &ndash;&gt;-->
<!--	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />-->
<!--	&lt;!&ndash;// Bootstrap-CSS &ndash;&gt;-->
<!--	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">-->
<!--	&lt;!&ndash;// Font-Awesome-CSS &ndash;&gt;-->
<!--	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" />-->
<!--	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />-->
<!--	&lt;!&ndash;// Owl-Carousel-CSS &ndash;&gt;-->
<!--	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />-->
<!--	&lt;!&ndash; //Style Sheets &ndash;&gt;-->
<!--	&lt;!&ndash; web-fonts &ndash;&gt;-->
<!--	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800}" rel="stylesheet">-->
<!--	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800'" rel="stylesheet">-->
<!--	&lt;!&ndash;// web-fonts &ndash;&gt;-->
<!--</head>-->

<!--<body>-->
<!--	&lt;!&ndash; banner &ndash;&gt;-->
<!--	<div class="banner jarallax" id="home">-->
<!--		<img class="jarallax-img" src="{% static 'images/4.jpg' %}" alt="">-->
<!--		<header>-->
<!--			<div class="container">-->
<!--				<div class="header-bottom-agileits">-->
<!--&lt;!&ndash;					<div class="w3-logo">&ndash;&gt;-->
<!--&lt;!&ndash;						<h1><a href="artisthome">BEAUTIFY</a></h1>&ndash;&gt;-->

<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--					<div class="clearfix"></div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</header>-->
<!--		&lt;!&ndash; navigation &ndash;&gt;-->
<!--		<div class="nav-bg">-->
<!--			<div class="container">-->
<!--&lt;!&ndash;					<nav class="navbar navbar-default shift">&ndash;&gt;-->
<!--					&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--					<div class="navbar-header">-->
<!--&lt;!&ndash;						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"&ndash;&gt;-->
<!--&lt;!&ndash;							aria-expanded="false">&ndash;&gt;-->
<!--							<span class="sr-only">Toggle navigation</span>-->
<!--							<span class="icon-bar"></span>-->
<!--							<span class="icon-bar"></span>-->
<!--							<span class="icon-bar"></span>-->
<!--						</button>-->

<!--					</div>-->

<!--					</head>-->
<!--				</head>-->
<!--<body>-->
<!--&lt;!&ndash;background&ndash;&gt;-->
<!--<br>-->
<!--<style>-->
<!--	.previous {-->
<!--  color: white;-->
<!--}-->
<!--</style>-->
<!--</style>-->
<!--<br><br><br>-->
<!--<a href="orders" class="previous">&laquo; Back</a>-->
<!--<div class="wrap">-->
<!--&lt;!&ndash; tab style-1 &ndash;&gt;-->
<!--<div class="row">-->
<!--	<div class="grid_12 columns">-->
<!--		<div class="tab style-1">-->
<!--&lt;!&ndash;    					<dl>&ndash;&gt;-->
<!--&lt;!&ndash; 			              <dd class="users"><a class="user active" href="#tab1" > </a></dd>&ndash;&gt;-->
<!--&lt;!&ndash;    						<dd class="messages"><a class="msg" href="#tab2"> </a></dd>&ndash;&gt;-->
<!--&lt;!&ndash;    						<dd class="settings"><a class="setting" href="#tab3"> </a></dd>&ndash;&gt;-->
<!--&lt;!&ndash;    						<dd class="likes"><a class="like" href="#tab4"> </a></dd>&ndash;&gt;-->
<!--&lt;!&ndash;    					</dl>&ndash;&gt;-->
<!--    					<ul>-->
<!--    						<li class="active">-->
<!--			    				<div class="form">-->
<!--									<form action="adser" method="post">-->
<!--										{% csrf_token %}-->
<!--										<input placeholder="Services" type="text" class="active textbox" name="addservices" required="">-->
<!--										<textarea name="description" placeholder="Description" class="active textbox" required="" style="width:330px;height:100px"></textarea>-->
<!--										<input placeholder="Amount" type="text" class="active textbox" name="amount" required="">-->
<!--&lt;!&ndash;										<input type="text" class="textbox" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">&ndash;&gt;-->
<!--										{% for i in r %}-->
<!--											<input type="" name="username" value="{{r1}}"  required="" hidden="">-->
<!--											<input type="" name="name" value="{{i.name}}" required="" hidden="">-->
<!--										{% endfor %}-->
<!--										<input type="submit" value="Add" style="background-color:#e37be3ba">-->
<!--									</form>-->
<!--							    </div>-->
<!--							</li>-->

<!--						</ul>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<!--		<div class="container">-->
<!--			&lt;!&ndash; header &ndash;&gt;-->
<!--			&lt;!&ndash; //header &ndash;&gt;-->
<!--			<div class="agileits_w3layouts_banner_info">-->
<!--				<section class="slider">-->
<!--					<div class="flexslider">-->

<!--</body>-->


<!--</html>-->