<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--{% load static %}-->

<!--<head>-->
<!--	<title>Beauty Salon a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>-->
<!--	&lt;!&ndash; Meta Tags &ndash;&gt;-->
<!--	<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,-->
<!--Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />-->
<!--	<script type="application/x-javascript">-->
<!--		addEventListener("load", function () {-->
<!--			setTimeout(hideURLbar, 0);-->
<!--		}, false);-->

<!--		function hideURLbar() {-->
<!--			window.scrollTo(0, 1);-->
<!--		}-->
<!--	</script>-->
<!--	&lt;!&ndash; //Meta Tags &ndash;&gt;-->
<!--	&lt;!&ndash; Style Sheets &ndash;&gt;-->
<!--	<link href="{% static 'admin/css/bootstrap1.css' %}" rel="stylesheet" type="text/css" media="all" />-->
<!--	&lt;!&ndash;// Bootstrap-CSS &ndash;&gt;-->
<!--	<link href="css/font-awesome.css" rel="stylesheet">-->
<!--	&lt;!&ndash;// Font-Awesome-CSS &ndash;&gt;-->
<!--	<link rel="stylesheet" href="{% static 'admin/css/owl.carousel.css' %}" type="text/css" media="all" />-->
<!--	<link rel="stylesheet" href="{% static 'admin/css/flexslider.css' %}" type="text/css" media="screen" property="" />-->
<!--	&lt;!&ndash;// Owl-Carousel-CSS &ndash;&gt;-->
<!--	<link href="{% static 'admin/css/style1.css' %}" rel="stylesheet" type="text/css" media="all" />-->
<!--	&lt;!&ndash; //Style Sheets &ndash;&gt;-->
<!--	&lt;!&ndash; web-fonts &ndash;&gt;-->
<!--	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">-->
<!--	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">-->
<!--	&lt;!&ndash;// web-fonts &ndash;&gt;-->
<!--	<div class="nav-bg">-->
<!--			<div class="container">-->
<!--&lt;!&ndash;					<nav class="navbar navbar-default shift">&ndash;&gt;-->
<!--					&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--					<div class="navbar-header">-->
<!--						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"-->
<!--							aria-expanded="false">-->
<!--							<span class="sr-only">Toggle navigation</span>-->
<!--							<span class="icon-bar"></span>-->
<!--							<span class="icon-bar"></span>-->
<!--							<span class="icon-bar"></span>-->
<!--						</button>-->

<!--					</div>-->

<!--			</div></div>			</head>-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->

<!--<body>-->
<!--	&lt;!&ndash; banner &ndash;&gt;-->
<!--	<div class="banner jarallax" id="home">-->
<!--		<img class="jarallax-img" src="{% static 'admin/images/22.jpg' %}" alt="">-->
<!--		<header>-->
<!--			<div class="container">-->
<!--				<div class="header-bottom-agileits">-->
<!--					<div class="w3-logo">-->
<!--						<h1><a href="admindetails">Beautify</a></h1>-->
<!--					</div>-->
<!--&lt;!&ndash;					<div class="address">&ndash;&gt;-->
<!--&lt;!&ndash;						<p>4th block,New York City.</p>&ndash;&gt;-->
<!--&lt;!&ndash;						<p class="para-y"><a href="about.html">Get more info</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--&lt;!&ndash;					<div class="nav-contact-w3ls">&ndash;&gt;-->
<!--&lt;!&ndash;						<p>+0 111 222 333<span class="fa fa-phone" aria-hidden="true"></span></p>&ndash;&gt;-->
<!--&lt;!&ndash;						<p class="para-y"><a href="mailto:info@example.com">info@example.com</a><span class="fa fa-envelope-o" aria-hidden="true"></span></p>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--					<div class="clearfix"></div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</header>-->


<!--				</nav>-->
<!--			</div>-->
<!--		</div>-->
<!--		&lt;!&ndash; //navigation &ndash;&gt;-->
<!--		<br><br><br><br>-->
<!--		<div class="container" style="height:auto;width:1400px;background-color:gray;opacity:0.8">-->
<!--			<br>-->
<!--			<table border="2" align="center" class="table table-bordered">-->
<!--				<thead class="thead-light">-->
<!--				<tr>-->
<!--					<th><h3 style="color:white"><b>Name</b></h3></th>-->
<!--					<th><h3 style="color:white"><b>Email</b></h3></th>-->
<!--					<th><h3 style="color:white"><b>Phone Number</b></h3></th>-->
<!--					<th><h3 style="color:white"><b>Complaint</b></h3></th>-->
<!--				</tr>-->
<!--				<tr>-->
<!--					{% for i in r %}-->
<!--					<td><b style="color:white">{{i.name}}</b></td>-->
<!--					<td><b style="color:white">{{i.email}}</b></td>-->
<!--					<td><b style="color:white">{{i.phonenumber}}</b></td>-->
<!--					<td><b style="color:white">{{i.comp}}</b></td>-->
<!--				</tr>-->
<!--					{% endfor %}-->
<!--				</thead>-->
<!--			</table>-->


<!--	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>-->
<!--	&lt;!&ndash; //smooth scrolling &ndash;&gt;-->
<!--	<script type='text/javascript' src="{% static 'admin/js/jquery-2.2.3.min.js' %}"></script>-->
<!--	&lt;!&ndash; start-smoth-scrolling &ndash;&gt;-->


<!--	<script src="{% static 'admin/js/jarallax.js' %}"></script>-->

<!--	<script type="text/javascript">-->
<!--		/* init Jarallax */-->
<!--		$('.jarallax').jarallax({-->
<!--			speed: 0.5,-->
<!--			imgWidth: 1366,-->
<!--			imgHeight: 768-->
<!--		})-->
<!--	</script>-->
<!--	&lt;!&ndash; flexSlider &ndash;&gt;-->
<!--	<script defer src="{% static 'admin/js/jquery.flexslider.js' %}"></script>-->
<!--	<script type="text/javascript">-->
<!--		$(window).load(function () {-->
<!--			$('.flexslider').flexslider({-->
<!--				animation: "slide",-->
<!--				start: function (slider) {-->
<!--					$('body').removeClass('loading');-->
<!--				}-->
<!--			});-->
<!--		});-->
<!--	</script>-->
<!--	&lt;!&ndash; //flexSlider &ndash;&gt;-->

<!--	&lt;!&ndash; Owl-Carousel-JavaScript &ndash;&gt;-->
<!--	<script src="{% static 'admin/js/owl.carousel.js' %}"></script>-->
<!--	<script>-->
<!--		$(document).ready(function () {-->
<!--			$("#owl-demo").owlCarousel({-->
<!--				items: 2,-->
<!--				lazyLoad: true,-->
<!--				autoPlay: false,-->
<!--				pagination: true,-->
<!--			});-->
<!--		});-->
<!--	</script>-->
<!--	&lt;!&ndash; //Owl-Carousel-JavaScript &ndash;&gt;-->
<!--	<script type="text/javascript" src="{% static 'admin/js/move-top.js' %}"></script>-->
<!--	<script type="text/javascript" src="{% static 'admin/js/easing.js' %}"></script>-->
<!--	<script type="text/javascript">-->
<!--		jQuery(document).ready(function ($) {-->
<!--			$(".scroll").click(function (event) {-->
<!--				event.preventDefault();-->
<!--				$('html,body').animate({-->
<!--					scrollTop: $(this.hash).offset().top-->
<!--				}, 1000);-->
<!--			});-->
<!--		});-->
<!--	</script>-->
<!--	&lt;!&ndash; start-smoth-scrolling &ndash;&gt;-->
<!--	&lt;!&ndash; here stars scrolling icon &ndash;&gt;-->
<!--	<script type="text/javascript">-->
<!--		$(document).ready(function () {-->
<!--			/*-->
<!--				var defaults = {-->
<!--				containerID: 'toTop', // fading element id-->
<!--				containerHoverID: 'toTopHover', // fading element hover id-->
<!--				scrollSpeed: 1200,-->
<!--				easingType: 'linear'-->
<!--				};-->
<!--			*/-->

<!--			$().UItoTop({-->
<!--				easingType: 'easeOutQuart'-->
<!--			});-->

<!--		});-->
<!--	</script>-->
<!--	&lt;!&ndash; //here ends scrolling icon &ndash;&gt;-->

<!--	&lt;!&ndash; stats &ndash;&gt;-->
<!--	<script src="{% static 'admin/js/jquery.waypoints.min.js' %}"></script>-->
<!--	<script src="{% static 'admin/js/jquery.countup.js' %}"></script>-->
<!--	<script>-->
<!--		$('.counter').countUp();-->
<!--	</script>-->
<!--	&lt;!&ndash; //stats &ndash;&gt;-->

<!--	&lt;!&ndash;js for bootstrap working&ndash;&gt;-->
<!--	<script src="{% static 'admin/js/bootstrap.js' %}"></script>-->
<!--	&lt;!&ndash; //for bootstrap working &ndash;&gt;-->
<!--		</div></body>-->

<!--</html>-->


<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>Beauty Salon a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	<!--// Owl-Carousel-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800'" rel="stylesheet">
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
	<div class="banner jarallax" id="home">
		<img class="jarallax-img" src="{% static 'images/22.jpg' %}" alt="">
		<header>
			<div class="container">
				<div class="header-bottom-agileits">
					<div class="w3-logo">
																																			<h1><a href="orders"><span style="color:black">BEAU</span><span style="color:white">TIFY</span></a></h1>

<!--						<h1>BEAUTIFY</a></h1>-->

					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</header>
		<!-- navigation -->
		<div class="nav-bg">
			<div class="container">
<!--					<nav class="navbar navbar-default shift">-->
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
<!--						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"-->
<!--							aria-expanded="false">-->
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					</head>
				</head>
<body>
<!--background-->
<br>
<style>
	.previous {
  color: white;
}
</style>
<a href="admindetails" class="previous">&laquo; Back</a>
<div class="text-center">

	<h1 style="color:white">COMPLAINTS</h1>
	<div class="w3ls-contact">
		<div class="header-bottom">
			<div class="container">
				<div class="col-md-3 logo-w3l">
					<h1><a class="navbar-brand" href="index.html">
<!--						<span>B</span>eauty Life</a></h1>-->
					</a>			</h1>		</a>			</div>
				<div class="col-md-9 navi-w3l">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<nav class="menu menu--francisco">
<!--										<ul class="nav navbar-nav menu__list">-->
<!--											<li class="menu__item "><a href="userhome" ><span class="menu__helper">Home</span></a></li>-->
<!--											<li class="menu__item "><a href="profile" class="menu__link"><span class="menu__helper">Profile</span></a></li>-->
<!--											<li class="menu__item "><a href="vbooking" class="menu__link"><span class="menu__helper">View Appointment</span></a></li>-->
<!--											<li class="menu__item "><a href="addfeedback" class="menu__link"><span class="menu__helper">Feedback</span></a></li>-->
<!--											<li class="menu__item "><a href="Vfeedback" class="menu__link"><span class="menu__helper">View feedback</span></a></li>-->
<!--											<li class="menu__item "><a href="comp" class="menu__link"><span class="menu__helper">complaints</span></a></li>-->
<!--											<li class="menu__item "><a href="vcusr" class="menu__link"><span class="menu__helper">View complaints</span></a></li>-->
<!--											<li class="menu__item"><a href="logout" class="menu__link"><span class="menu__helper">Logout</span></a></li>-->



										</ul>
									</nav>
									<div class="clearfix"></div>
								</div><!-- /.navbar-collapse -->
									<!-- /.container-fluid -->
							</div>
						</nav>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- banner -->
		<!-- Slider -->

	<div class="container" style="height:auto;width:1300px;background-color:gray;opacity:0.8">
			<br>
			<table border="2" align="center" class="table table-bordered">
				<thead class="thead-light">
				<tr>
					<th><h3 style="color:white"><b>Name</b></h3></th>
					<th><h3 style="color:white"><b>Email</b></h3></th>
					<th><h3 style="color:white"><b>Phone Number</b></h3></th>
					<th><h3 style="color:white"><b>Complaint</b></h3></th>
				</tr>
				<tr>
					{% for i in r %}
					<td><b style="color:white">{{i.name}}</b></td>
					<td><b style="color:white">{{i.email}}</b></td>
					<td><b style="color:white">{{i.phonenumber}}</b></td>
					<td><b style="color:white">{{i.comp}}</b></td>
				</tr>
					{% endfor %}
				</thead>
			</table>


<!--					<li>-->
<!--						<div class="w3layouts-banner-top w3layouts-banner-top1">-->
<!--							<br><br><br><br><br><br><br><br><br><br><br>-->
<!--						<div class="container" style="height:auto;width:1300px;background-color:#410a0994;opacity:0.9">-->
<!--							<br>-->
<!--							<table border="2" align="center" class="table table-bordered">-->
<!--								<thead class="thead-light">-->
<!--									<th><h3 style="color:white"><b>Name</b></h3></th>-->
<!--									<th><h3 style="color:white"><b>Email</b></h3></th>-->
<!--									<th><h3 style="color:white"><b>Phone number</b></h3></th>-->
<!--									<th><h3 style="color:white"><b>Complaints</b></h3></th>-->
<!--								</thead>-->
<!--								{% for i in r %}-->
<!--								<tbody>-->
<!--								<tr>-->
<!--									<td><h4 style="color:white"><b>{{i.name}}</b></h4></td>-->
<!--									<td><h4 style="color:white"><b>{{i.email}}</b></h4></td>-->
<!--									<td><h4 style="color:white"><b>{{i.phonenumber}}</b></h4></td>-->
<!--									<td><h4 style="color:white"><b>{{i.comp}}</b></h4></td>-->
<!--								</tr>-->
<!--								{% endfor %}-->

<!--								</tbody>-->



<!--							</table>-->

<!--						</div>-->

<!--							</div>-->
<!--					</li></body>				</div>-->
<!--					</li>-->


<!--				</ul>-->
<!--			</div>-->
<!--		&lt;!&ndash; form starts here &ndash;&gt;-->
<!--		<form action="comp" method="post">-->
<!--			{% csrf_token %}-->
<!--			<div class="agile-field-txt">-->

<!--				<input type="text" name="p1" value={{r}} placeholder=" "   required="" hidden=""/>-->
<!--			</div>-->
<!--			<div class="agile-field-txt">-->
<!--				<label>Name :</label>-->
<!--				<input type="text" name="p2" placeholder=" " required="" />-->
<!--			</div>-->
<!--			<div class="agile-field-txt">-->
<!--				<label>-->
<!--					E-mail:</label>-->
<!--				<input type="email" name="p3" placeholder=" " required="" />-->
<!--			</div>-->
<!--			<div class="agile-field-txt">-->
<!--				<label>-->
<!--					Phone Number:</label>-->
<!--				<input type="text" name="p4" placeholder=" " required="" pattern="[0-9]{10}"/>-->
<!--			</div>-->
<!--			<div class="agile-field-txt">-->
<!--				<label>-->
<!--					Complaint :</label>-->
<!--				<textarea name="p5" placeholder=" " required=""></textarea>-->
<!--			</div>-->
<!--			<div class="w3ls-contact  w3l-sub">-->
<!--				<input type="submit" class="btn btn-defeault btn-send"  onclick="return confirm('Are you sure ??')">-->
<!--			</div>-->
<!--			</div>		</form>-->
<!--			</div>-->
<!--		</form>-->
<!--		&lt;!&ndash; //form ends here &ndash;&gt;-->
<!--</body></div>-->





				</nav>
			</div>
		</div>
		<!-- //navigation -->
		<div class="container">
			<!-- header -->
			<!-- //header -->
			<div class="agileits_w3layouts_banner_info">
				<section class="slider">
					<div class="flexslider">

					</div></section></div></div>			</body>


</html>