<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<title>Beauty Life a Beauty and Spa Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>

<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Beauty Life web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->

<!-- css files -->
<link rel="stylesheet" href="{% static 'user/css/bootstrap1.css' %}"> <!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="{% static 'user/css/style1.css'%}" type="text/css" media="all" /> <!-- Style-CSS -->
<link rel="stylesheet" href="{% static 'user/css/font-awesome.css' %}"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="{% static 'user/css/lightbox.css' %}">  <!-- For-Gallery-CSS -->
<!-- //css files -->

<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
<!-- //online-fonts -->
</head>
<body>
<div class="Main-agile">
<!-- header -->
	<div class="header">
		<div class="container" >
			<div class="col-md-8 w3l_header_left">
<!--				<ul>-->
<!--					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +141 587 426 825</li>-->
<!--					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:info@example.com">info@example.com</a></li>-->
<!--					<li><span class="glyphicon glyphicon-map-marker add-w3" aria-hidden="true"></span>8901 Marmora Road, DO4 89GR.</li>-->
<!--				</ul>-->
			</div>
			<div class="col-md-4 w3l_header_right">
				<div class="navbar-right social-icons">
<!--					<ul>-->
<!--						<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>-->
<!--						<li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>-->
<!--						<li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> -->
<!--						<li><a href="#" class="fa fa-rss icon-border rss"> </a></li>-->
<!--					</ul>  -->
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="col-md-3 logo-w3l">
					<h1><a class="navbar-brand" href="index.html"><span>B</span>eautify</a></h1>
				</div>
				<div class="col-md-9 navi-w3l">
						<nav class="navbar navbar-default">
							<div class="container-fluid" >
					<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<nav class="menu menu--francisco">
										<ul class="nav navbar-nav menu__list">
											<li class="menu__item menu__item--current"><a href="pro" class="menu__link">
<!--											</a>								<li><a class="active" href="../">Home</a></li>-->
<!--											<li><a class="active" href="">Home</a></li>-->


<!--<span class="menu__helper">Home</span></a></li>-->
<!--<span class="menu__helper">Home</span></a></li>-->
<!--											<li class="menu__item"><a href="mprofile" ><span class="menu__helper">Profile</span></a></li>-->
<!--											<li class="menu__item"><a href="vbooking"><span class="menu__helper">View Appointment</span></a></li>-->

<!--											<li class="menu__item"><a href="comp"><span class="menu__helper">Complaints</span></a></li>-->
<!--											<li class="nav-item dropdown mr-3">-->
<!--											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"-->
<!--							    			aria-expanded="false">-->
<!--											Complaints-->
<!--											</a>-->
<!--											<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--												&nbsp;&nbsp;&nbsp;<a class="dropdown-item" href="comp" style="color:white">Add</a><br><br>-->
<!--												&nbsp;&nbsp;&nbsp;<a class="dropdown-item" href="vcusr" style="color:white">View</a>-->
<!--											</div>-->
<!--											</li>-->
<!--											<li class="menu__item"><a href="logout"><span class="menu__helper">Log out</span></a></li>-->
<!--&lt;!&ndash;											<li class="menu__item"><a href="#experts" class="menu__link scroll"><span class="menu__helper">Experts</span></a></li>&ndash;&gt;-->
<!--											<li class="menu__item"><a href="#gallery" class="menu__link scroll"><span class="menu__helper">Gallery</span></a></li>-->
<!--											<li class="menu__item"><a href="#contact" class="menu__link scroll"><span class="menu__helper">Contact Us</span></a></li>-->
											</a>							</ul>
									</nav>
									<div class="clearfix"></div>
								</div><!-- /.navbar-collapse -->
									<!-- /.container-fluid -->
							</div>
						</nav>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<!--						<input placeholder="Time" name="a11" type="text" required="">-->

	<!-- //header -->
	<!-- banner -->
		<!-- Slider -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider">

					<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>WELCOME TO BEAUTIFY </h1>
<H6>CUSTOMER DETAILS</H6>

<table border = "6">
    <thead>
<th><h3 style="color:black">NAME</h3></th><br>
<th><h3 style="color:black">ADDRESS</h3></th><br>
<th><h3 style="color:black">PHONENUMBER</h3></th><br>
<th><h3 style="color:black">EMAIL</h3></th><br>
<th><h3 style="color:black">PHOTO</h3></th><br>

<th><h3 style="color:black">LICENSE</h3></th><br>
<th><h3 style="color:black">LOCATION</h3></th><br>
<th><h3 style="color:black">TIME</h3></th><br>
<th><h3 style="color:black">UPDATE PROFILE</h3></th>
<th><h3 style="color:black">CHANGE PASSWORD</h3></th></tr>



<!--<th><h3 style="color:black">USERNAME</h3></th><br>-->
<!--&lt;!&ndash;<th>PASSWORD</th><br>&ndash;&gt;-->
<!--<th><h3 style="color:black">EMAIL</h3></th><br>-->
<tr>
    </thead>

    {% for i in data %}
<!--<tbody>-->

<tr>
	<td><h4>{{i.name}}</h4></td><br>
    <td><h4>{{i.address}}</h4></td><br>
    <td><h4>{{i.phonenumber}}</h4></td><br>
	<td><h4>{{i.email}}</h4></td>
		<td><img src="{{i.photo.url}}" height="100px" width="100px" class="view-image"></td>
		<td><img src="{{i.license.url}}" height="100px" width="100px" class="view-image"></td>




	<td><h4>{{i.location}}</h4></td></th><br>
        <td><h4>{{i.time}}</h4></td><br>

	<td><h4 style="color:white"><b style="color:white">
													 <form method="POST" action="upuser">
														{% csrf_token %}
														 <input type="text" value="{{i.username}}" name="username" hidden="">
														 <input type="submit" value="UPDATE" class="btn btn-primary">
													 </form>
												</b></h4></td>
												<td><b style="color:white"><h4><a href="change">Change Password</a></h4></b></td>
										</tr>
											{% endfor %}
										</thead>
									</table>



<!--<a href="update">update password</a>-->
<!--<a href="logout">Logout</a>-->

</body>
</html>
				</ul></div></div></div>