<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
	<title>Beauty Salon a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	<!--// Owl-Carousel-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800'" rel="stylesheet">
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
<div class="banner jarallax" id="home">
		<img class="jarallax-img" src="{% static 'images/22.jpg' %}" alt="">
		<header>
			<div class="container">
				<div class="header-bottom-agileits">
					<div class="w3-logo">
																													<h1><a href="orders"><span style="color:black">BEAU</span><span style="color:white">TIFY</span></a></h1>

<!--						<h1>BEAUTIFY</a></h1>-->

					</div>
					<div class="clearfix"></div>
				</div>
            </div>
		</header>
		<!-- navigation -->
		<div class="nav-bg">
<!--			<div class="container">-->
<!--					<nav class="navbar navbar-default shift">-->
					<!-- Brand and toggle get grouped for better mobile display -->
<!--					<div class="navbar-header">-->
<!--						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"-->
<!--							aria-expanded="false">-->
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					</head>
				</head>
<body>
<!--background-->
<br>
<style>
	.previous {
  color: white;
}
</style>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="admindetails" class="previous">&laquo; Back</a>
<!--<h1>Beautify Appointment Form </h1>-->
    <div class="bg-agile">
	<div class="book-appointment">
		<body>
        <body>
<div class="text-center">

<h1 style="color:white">WELCOME TO BEAUTIFY </h1>
<H6 style="color:white">CUSTOMER DETAILS</H6>
</div>
<!--<table border = "10">-->
<!--    <thead>-->

	<li>
<!--						<div class="w3layouts-banner-top w3layouts-banner-top1">-->
								<br><br><br><br><br><br><br><br><br><br><br><br>
							<div class="container" style="height:1000px;width:1500px;background-color:#410a0994;opacity:10">
<!--								<div class="slider-info">-->
									<br>
									<table border="6" align="center" class="table table-bordered">
										<thead class="thead-light">
										<tr>
    <th><b><h2 style="color:black" >NAME</h2></h2></b></th><br>
    <th><b><h2 style="color:black">AGE</h2></b></th><br>
<h2 style="color:black"><th><b></b><h2 style="color:black">USERNAME</h2></b></th><br>
<!--<th>PASSWORD</th><br>-->
    <h2 style="color:black"><th><b><h2 style="color:black">EMAILID</h2></b></th><br>
    <h2 style="color:black"><th><b><h2 style="color:black">PHONENUMBER</h2></b></th><br>
    </thead>

    {% for i in data %}
    <tbody>

<tr>
	<td><b><h4 style="color:white">{{i.NAME}}</h4></b></td><br>
    <td><b><h4 style="color:white">{{i.AGE}}</h4></b></td><br>
    <td><b><h4 style="color:white">{{i.USERNAME}}</h4></b></td><br>
<!--    <td>{{i.PASSWORD}}</td><br>-->
    <td><b><h4 style="color:white">{{i.EMAIL}}</h4></b></td><br>
    <td><b><h4 style="color:white">{{i.PHONENUMBER}}</h4></b></td></th><br>
</tr>
</tbody>
{% endfor %}
</table>




</tr>
</tbody>

</table>


</body>

        </html>









