
<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<title>Snow Login form Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="{% static 'login/css/style.css' %}" type="text/css" media="all" />
</head>

<body style="background-color:white">

<head>
	<title>Beauty Salon a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	<!--// Owl-Carousel-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800'" rel="stylesheet">
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
</body></body></html><div class="banner jarallax" id="home">
		<img class="jarallax-img" src="{% static 'images/design blue.jpg' %}" alt="">
		<header>
			<div class="container" >
				<div class="header-middle-agileits">
					<div class="w3-logo">
	<!--						<h1>BEAUTIFY</a></h1>-->

					</div>
<!--					<div class="clearfix"></div>-->
				</div>
            </div>
		</header>


					</head>
				</head>
<body>
<!--background-->
<br>

    <div class="bg-agile">
	<div class="book-appointment">
<!--		<body>-->
        <body>




		<div class="form-section" >
			<div class="text-center">
<!--				<body style="background-color:white">-->
<!--	 login form-->

	<section class="w3l-login">
		<div class="overlay">
			<div class="wrapper">
								<div class="form-section" style="opacity:0.8">

					<h2><b> Login</b></h2><br>
					<h6><b>To continue with Us</b></h6><br>
    					<ul>
    						<li class="active">
			    				<div class="form">
									<form action="login" method="post" enctype="multipart/form-data">
										{% csrf_token %}
                                        <div class="form-input">
								<input type="text" name="username" placeholder="Username" required="" >
										</div><br>
							    		<div class="form-input">

								<input type="text" name="password" placeholder="Password" required="">
										</div><br>

										<button type="submit" class="btn btn-primary theme-button mt-4" style="background-color:blue">Log in</button>
<!--						<div class="new-signup">-->

<!--										<input type="submit" value="LOGIN" style="background-color:rgba(165, 92, 92, 0.8)">-->
<!--							    </div>-->

<!--							<button type="submit" class="btn btn-primary theme-button mt-4" style="background-color:blue">Log in</button>-->
<!--						<div class="new-signup">-->

<!--										<input type="submit" value="LOGIN" style="background-color:rgba(165, 92, 92, 0.8)">-->
									</form>
								</div>
							</li>


</tbody>

</table>


</ul></div></div></div></section></div></div></body>

	</div></div></body></html>









</div>