
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>Beauty Salon a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	<!--// Owl-Carousel-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800'" rel="stylesheet">
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
	<div class="banner jarallax" id="home">
		<img class="jarallax-img" src="{% static 'images/p8.jpg' %}" alt="">
		<header>
			<div class="container">
				<div class="header-bottom-agileits">
					<div class="w3-logo">
												<h1><span style="color:black">BEAU</span><span style="color:white">TIFY</span></a></h1>

<!--						<h1><div style="color:white"> BEAUTIFY</div></a></h1>-->

					</div>
<!--					<div class="clearfix"></div>-->
				</div>
			</div>
		</header>
		<!-- navigation -->
		<div class="nav-bg">
				<div class="container">
<!--					<nav class="navbar navbar-default shift">-->
					<!-- Brand and toggle get grouped for better mobile display -->
<!--					<div class="navbar-header">-->
<!--&lt;!&ndash;						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"&ndash;&gt;-->
<!--&lt;!&ndash;							aria-expanded="false">&ndash;&gt;-->
<!--							<span class="sr-only">Toggle navigation</span>-->
<!--							<span class="icon-bar"></span>-->
<!--							<span class="icon-bar"></span>-->
<!--							<span class="icon-bar"></span>-->
<!--						</button>-->

<!--					</div>-->

					</head>
				</head>
<body>
<!--background-->
<!--<br>-->
<!--<style>-->
<!--	.previous {-->
<!--  color: white;-->
<!--}-->
<!--</style>-->
&nbsp;&nbsp;&nbsp;&nbsp;<a href="viewmakeupartist/<name>" class="previous">&laquo; Back</a>
<!--<h1>Beautify Appointment Form </h1>-->
<!--<div class="header-main" id="home">-->
<!--<div class="header-outs">-->
<!--		<div class="header-bar">-->

<!--				<h1><a href="index.html">Beauty Glam</a></h1>-->
<!--			</div>-->


			<!-- Collect the nav links, forms, and other content for toggling -->
<!--<div class="menu">-->


<!--						<a href="" id="menuToggle"> <span class="navClosed"></span> </a>-->
<!--						<nav>-->
<!--							<a href="viewmakeupartist/<name>" class="">Home</a>-->
<!--							<a href="dbp" class="">Profile</a>-->
<!--							<a href="../vserv" class="">Services</a>-->
<!--							<a href="../booking">Appointment</a>-->
<!--&lt;!&ndash;							<a href="../revbyusr">Reviews</a>&ndash;&gt;-->
<!--&lt;!&ndash;							<a href="../vrevusr">View Reviews</a>&ndash;&gt;-->
<!--							<a href="../gallery">Gallery</a>-->
<!--							<a href="../logout" class="">Logout</a>-->
<!--							<a href="#services" class="scroll">Services</a>  -->
<!--							<a href="#gallery" class="scroll">Gallery</a> -->
<!--							<a href="#news" class="scroll">News</a>-->
<!--							<a href="#price" class="scroll">price</a> -->
<!--							<a href="#contact" class="scroll">Contact</a> -->
<!--						</nav>-->


</div>
 <div class="clearfix"> </div>
</body></div>

<!-- Slideshow 4 -->
<!--		<div class="slider">-->
<!--			<div class="callbacks_container">-->

<!--				<ul class="rslides callbacks callbacks1" id="slider4">-->
				<li>
<!--					<div class="slider-img threeimg">-->
							<br><br><br><br><br><br><br><br><br><br>

						<div class="container" style="width:1400px;background-color:#777777ba">
							<br>
						<table border="2" align="center" class="table table-bordered">
<!--							<thead class="thead-light">-->
<!--							<tr>-->

								<th><h3 style="color:black">NAME</h3></th><br>
<th><h3 style="color:black">ADDRESS</h3></th><br>
<th><h3 style="color:black">PHONENUMBER</h3></th><br>
								<th><h3 style="color:black">EMAIL</h3></th><br>

<th><h3 style="color:black">PHOTO</h3></th><br>
<th><h3 style="color:black">LICENSE</h3></th><br>
<th><h3 style="color:black">LOCATION</h3></th><br>
<th><h3 style="color:black">TIME</h3></th><br>
<!--							</tr>-->
							</thead>
								{% for i in r %}
							<tbody>

							<tr>
								<td><h3 style="color:black">{{i.name}}</h3></td><br>
    <td><h3 style="color:black"> {{i.address}}</h3></td><br>
    <td><h3 style="color:black">{{i.phonenumber}}</h3></td><br>
<!--        <td><h4>{{i.photo}}</h4></td><br>-->
	<td><h3 style="color:black">{{i.email}}</h3></td>
								<td><img src="{{i.photo.url}}" height="100px" width="100px"></td>
							<td><img src="{{i.license.url}}" height="100px" width="100px"></td>
								<td><h3 style="color:black">{{i.location}}</h3></td><br>
        <td><h3 style="color:black">{{i.time}}</h3></td><br>



						</tr>
							</tbody>
								{% endfor %}
							</thead>
						</table>

						</div>
					</div>
				</li>

<!--				</ul><a href="#" class="callbacks_nav callbacks1_nav prev">Previous</a><a href="#" class="callbacks_nav callbacks1_nav next">Next</a>-->
				</ul>		</div>
			<div class="clearfix"> </div>
		</div>

</div>
<!--    <div class="bg-agile">-->
<!--	<div class="book-appointment">-->
<!--		<div class="header-bottom">-->
<!--			<div class="container">-->
<!--				<div class="col-md-3 logo-w3l">-->
<!--&lt;!&ndash;					<h1><a class="navbar-brand" href="index.html"><span>B</span>eauty Life</a></h1>&ndash;&gt;-->
<!--				</div>-->
<!--&lt;!&ndash;				<div class="col-md-9 navi-w3l">&ndash;&gt;-->
<!--&lt;!&ndash;						<nav class="navbar navbar-default">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="container-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;					&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;								<div class="navbar-header">&ndash;&gt;-->
<!--&lt;!&ndash;									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;										<span class="sr-only">Toggle navigation</span>&ndash;&gt;-->
<!--&lt;!&ndash;										<span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;										<span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;										<span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;									</button>&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->

<!--							</div>				</nav>			</body>-->

	</div></body></html>
