<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>Flat Signup Form Flat Responsive Widget Template :: w3layouts</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat Signup Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'reg/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body>
<style>
	.previous {
	color:white;
}
</style>
<br><br><br>
&nbsp;&nbsp;<a href="/" class="previous">&laquo;Back</a>
<!--	<h1>REGISTER NOW</h1>-->
	<!-- main -->
	<div class="main">

		<!--login-profile-->

		<!--login-profile-->
		<!--signin-form-->

		<div class="agile">
			<div class="signin-form profile">
				<h1><b>REGISTER NOW</b></h1>
				<div class="login-form">


				<form method="post" action="pa">
								 {% csrf_token %}

	    <input type="text" name="USERNAME" placeholder="USERNAME" value={{data.USERNAME}} required=""><br><br>

		<input type="text" name="ADDSERVICE"  placeholder="ADDSERVICE"  value={{data.ADDSERVICE}} required="">

		<input type="text" name="AMOUNT" placeholder="AMOUNT" value={{data.AMOUNT}} required=""><br><br>


<div class="text-center"><button class='btn btn-success' type="submit">PAY NOW</button></div>


							</form>
							<li>

<!--				<script>-->
<!--				   function breg() {-->
<!--				   alert("You have registered successfully");-->
<!--				   }-->
<!--         		</script>-->
			</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->
	</div>
<!--	<div class="copyright">-->
<!--		<p> &copy; 2016 Flat Signup Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>-->
<!--	</div>
					-->
    </div>
</body>
</html>















