<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
	<title>Beauty Salon a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	<!--// Owl-Carousel-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800'" rel="stylesheet">
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
<div class="banner jarallax" id="home">
		<img class="jarallax-img" src="{% static 'images/p6.jpg' %}" alt="">
		<header>
			<div class="container">
				<div class="header-bottom-agileits">
					<div class="w3-logo">
<!--						<h1><a href="beautiandetails">BEAUTIFY</a></h1>-->
						<div class="header-bottom">
<!--			<div class="container">-->
<!--				<div class="col-md-3 logo-w3l">-->
<!--					<h1><a class="navbar-brand" href="profile.html"><span>B</span>eautify</a></h1>-->
				</div>
																	<h1><a href="orders"><span style="color:black">BEAU</span><span style="color:white">TIFY</span></a></h1>
</div>
					<div class="clearfix"></div>
				</div>
            </div>
		</header>
		<!-- navigation -->
		<div class="nav-bg">
<!--			<div class="container">-->
<!--					<nav class="navbar navbar-default shift">-->
					<!-- Brand and toggle get grouped for better mobile display -->
<!--					<div class="navbar-header">-->
<!--						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"-->
<!--							aria-expanded="false">-->
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					</head>
				</head>
<body>
<!--background-->
<!--<br>-->
<!--<style>-->
<!--	.previous {-->
<!--  color: white;-->
<!--}-->
<!--</style>-->
&nbsp;&nbsp;&nbsp;&nbsp;<a href="userhome" class="previous">&laquo; Back</a>
<!--<h1>Beautify Appointment Form </h1>-->
    <div class="bg-agile">
	<div class="book-appointment">
		<body>
        <body>
		<div class="header-bottom">
			<div class="container">
				<div class="col-md-3 logo-w3l">
<!--					<h6><a class="navbar-brand" href="profile"><span>B</span>eautify</a></h6>-->
				</div>
				<div class="col-md-9 navi-w3l">
						<nav class="navbar navbar-default">
							<div class="container-fluid" >
					<!-- Brand and toggle get grouped for better mobile display -->
<!--								<div class="navbar-header">-->
<!--									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
<!--										<span class="sr-only">Toggle navigation</span>-->
<!--										<span class="icon-bar"></span>-->
<!--										<span class="icon-bar"></span>-->
<!--										<span class="icon-bar"></span>-->
<!--									</button>-->
<!--								</div>-->
					<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<nav class="menu menu--francisco">
										<ul class="nav navbar-nav menu__list">

									<div class="clearfix"></div>
										</ul>						</nav>				</ul>						</div><!-- /.navbar-collapse -->
									<!-- /.container-fluid -->
							</div>
						</nav>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		</body></body></div>


		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider">

					<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 style="color:black" class="text-center">WELCOME TO BEAUTIFY</h1>
<H6 style="color:black" class="text-center">CUSTOMER DETAILS</H6>

<!--<table border = "6">-->
<!--    <thead>-->
<!--	<li>-->
						<div class="w3layouts-banner-top w3layouts-banner-top1">
								<br><br><br><br><br><br><br><br><br><br><br><br>
							<div class="container" style="height:auto;width:1300px;background-color:#410a0994;">
<!--								<div class="slider-info">-->
									<br>
									<table border="6" align="center" class="table table-bordered">
										<thead class="thead-light">
										<tr>
<th><h3 style="color:white">NAME</h3></th><br>
<th><h3 style="color:white">AGE</h3></th><br>
<th><h3 style="color:white">USERNAME</h3></th><br>
<!--<th>PASSWORD</th><br>-->
<th><h3 style="color:white">EMAIL</h3></th><br>
<th><h3 style="color:white">PHONENUMBER</h3></th><br>
<th><h3 style="color:white">UPDATE PROFILE</h3></th>
<th><h3 style="color:white">CHANGE PASSWORD</h3></th></tr>
<tr>
    </thead>

    {% for i in r %}
    <tbody>

<tr>
	<td><h4 style="color:white">{{i.NAME}}</h4></td><br>
    <td><h4 style="color:white">{{i.AGE}}</h4></td><br>
    <td><h4 style="color:white">{{i.USERNAME}}</h4></td><br>
<!--    <td>{{i.PASSWORD}}</td><br>-->
    <td><h4 style="color:white">{{i.EMAIL}}</h4></td>

    <td><h4 style="color:white">{{i.PHONENUMBER}}</h4></td><br>
	<td><h4 style="color:white"><b style="color:white">
													 <form method="POST" action="upuser">
														{% csrf_token %}
														 <input type="text" value="{{i.USERNAME}}" name="username" hidden="">
														 <input type="submit" value="UPDATE" class="btn btn-primary">
													 </form>
												</b></h4></td>
												<td><b style="color:white"><h4><a href="change">Change Password</a></h4></b></td>
	</form>
												</b></h5></td>




										</tr>
											{% endfor %}
	</tbody>	</table>				</div></div></li></thead></thead>
	</tbody>
									</table>



</body>
</html>

				</ul>			</div>





</div></div></body>

</div></body></html>









