<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>Beauty Salon a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	<!--// Owl-Carousel-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800'" rel="stylesheet">
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
	<div class="banner jarallax" id="home">
		<img class="jarallax-img" src="{% static 'images/pic4.jpg' %}" alt="">
		<header>
			<div class="container">
				<div class="header-bottom-agileits">
					<div class="w3-logo">
																							<h1><a href="orders"><span style="color:PINK">BEAU</span><span style="color:white">TIFY</span></a></h1>

<!--						<h1 style="color:white">BEAUTIFY</a></h1>-->

					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</header>
		<!-- navigation -->
		<div class="nav-bg">
<!--			<div class="container">-->
<!--&lt;!&ndash;					<nav class="navbar navbar-default shift">&ndash;&gt;-->
<!--					&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--					<div class="navbar-header">-->
<!--&lt;!&ndash;						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"&ndash;&gt;-->
<!--&lt;!&ndash;							aria-expanded="false">&ndash;&gt;-->
<!--							<span class="sr-only">Toggle navigation</span>-->
<!--							<span class="icon-bar"></span>-->
<!--							<span class="icon-bar"></span>-->
<!--							<span class="icon-bar"></span>-->
<!--						</button>-->

<!--					</div>-->

					</head>
				</head>
<body>
<!--background-->
<br>
<style>
	.previous {
  color: white;
}
</style>
<a href="userhome" class="previous">&laquo; Back</a>
<div class="text-center">

	<h1 style="color:white">COMPLAINTS</h1>
	<div class="w3ls-contact">
		<div class="header-bottom">
			<div class="container">
				<div class="col-md-3 logo-w3l">
					<h1><a class="navbar-brand" href="index.html">
<!--						<span>B</span>eauty Life</a></h1>-->
					</a>			</h1>		</a>			</div>
<!--				<div class="col-md-9 navi-w3l">-->
<!--						<nav class="navbar navbar-default">-->
<!--							<div class="container-fluid">-->
<!--					&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--								<div class="navbar-header">-->
<!--									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
<!--										<span class="sr-only">Toggle navigation</span>-->
<!--										<span class="icon-bar"></span>-->
<!--										<span class="icon-bar"></span>-->
<!--										<span class="icon-bar"></span>-->
<!--									</button>-->
<!--								</div>-->
					<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<nav class="menu menu--francisco">
										<ul class="nav navbar-nav menu__list">
<!--											<li class="menu__item "><a href="userhome" ><span class="menu__helper">Home</span></a></li>-->
<!--											<li class="menu__item "><a href="profile" class="menu__link"><span class="menu__helper">Profile</span></a></li>-->
<!--											<li class="menu__item "><a href="vbooking" class="menu__link"><span class="menu__helper">View Appointment</span></a></li>-->
<!--											<li class="menu__item "><a href="addfeedback" class="menu__link"><span class="menu__helper">Feedback</span></a></li>-->
<!--											<li class="menu__item "><a href="Vfeedback" class="menu__link"><span class="menu__helper">View feedback</span></a></li>-->
<!--											<li class="menu__item "><a href="comp" class="menu__link"><span class="menu__helper">complaints</span></a></li>-->
<!--											<li class="menu__item "><a href="vcusr" class="menu__link"><span class="menu__helper">View complaints</span></a></li>-->
<!--											<li class="menu__item"><a href="logout" class="menu__link"><span class="menu__helper">Logout</span></a></li>-->



										</ul>
									</nav>
									<div class="clearfix"></div>
								</div><!-- /.navbar-collapse -->
									<!-- /.container-fluid -->
							</div>
						</nav>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- banner -->
		<!-- Slider -->
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top1">
							<br><br><br><br><br><br><br><br><br><br><br>
						<div class="container" style="height:auto;width:1300px;background-color:#410a0994;opacity:0.9">
							<br>
							<table border="2" align="center" class="table table-bordered">
								<thead class="thead-light">
									<th><h3 style="color:white"><b>Name</b></h3></th>
									<th><h3 style="color:white"><b>Email</b></h3></th>
									<th><h3 style="color:white"><b>Phone number</b></h3></th>
									<th><h3 style="color:white"><b>Complaints</b></h3></th>
								</thead>
								{% for i in r %}
								<tbody>
								<tr>
									<td><h4 style="color:white"><b>{{i.name}}</b></h4></td>
									<td><h4 style="color:white"><b>{{i.email}}</b></h4></td>
									<td><h4 style="color:white"><b>{{i.phonenumber}}</b></h4></td>
									<td><h4 style="color:white"><b>{{i.comp}}</b></h4></td>
								</tr>
								{% endfor %}

								</tbody>



							</table>

						</div>

							</div>
					</li></body>				</div>
					</li>


				</ul>
			</div>
		<!-- form starts here -->
<!--		<form action="comp" method="post">-->
<!--			{% csrf_token %}-->
<!--			<div class="agile-field-txt">-->

<!--				<input type="text" name="p1" value={{r}} placeholder=" "   required="" hidden=""/>-->
<!--			</div>-->
<!--			<div class="agile-field-txt">-->
<!--				<label>Name :</label>-->
<!--				<input type="text" name="p2" placeholder=" " required="" />-->
<!--			</div>-->
<!--			<div class="agile-field-txt">-->
<!--				<label>-->
<!--					E-mail:</label>-->
<!--				<input type="email" name="p3" placeholder=" " required="" />-->
<!--			</div>-->
<!--			<div class="agile-field-txt">-->
<!--				<label>-->
<!--					Phone Number:</label>-->
<!--				<input type="text" name="p4" placeholder=" " required="" pattern="[0-9]{10}"/>-->
<!--			</div>-->
<!--			<div class="agile-field-txt">-->
<!--				<label>-->
<!--					Complaint :</label>-->
<!--				<textarea name="p5" placeholder=" " required=""></textarea>-->
<!--			</div>-->
<!--			<div class="w3ls-contact  w3l-sub">-->
<!--				<input type="submit" class="btn btn-defeault btn-send"  onclick="return confirm('Are you sure ??')">-->
<!--			</div>-->
<!--			</div>		</form>-->
<!--			</div>-->
<!--		</form>-->
<!--		&lt;!&ndash; //form ends here &ndash;&gt;-->
<!--</body></div>-->





				</nav>
			</div>
		</div>
		<!-- //navigation -->
		<div class="container">
			<!-- header -->
			<!-- //header -->
			<div class="agileits_w3layouts_banner_info">
				<section class="slider">
					<div class="flexslider">

					</div></section></div></div>			</body>


</html>