<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>Beauty Salon a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	<!--// Owl-Carousel-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800'" rel="stylesheet">
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
	<div class="banner jarallax" id="home">
		<img class="jarallax-img" src="{% static 'images/p3.jpg' %}" alt="">
		<header>
<!--			<div class="container" style="width:auto">-->
		<div class="header">
			<div class="logo">
				<h1>
<!--					<a class="link link&#45;&#45;yaku" href="orders">-->
																							<h1><span style="color:black">BEAU</span><span style="color:white">TIFY</span></a></h1>

					</a>
				</h1>
			</div>


		<div class="nav-bg">
<!--			<div class="container">-->
<!--					<nav class="navbar navbar-default shift">-->
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
<!--						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"-->
<!--							aria-expanded="false">-->
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					</head>
				</head>
<body>
<!--background-->
<br>
<style>
	.previous {
  color: white;
}
</style>
</style>
<br><br><br>
<a href="orders" class="previous">&laquo; Back</a>

<div class="myDivision">
			{% for i in messages %}
						<h4 style="color:red;float:right" >{{i}}</h4>
					{% endfor %}
			<br>
			<table border="2" align="center" class="table table-bordered">
				<thead class="thead-light">
				<thead>
					<th><h3 style="color:white"><b>Name</b></h3></th>
					<th><h3 style="color:white"><b>Email</b></h3></th>
					<th><h3 style="color:white"><b>Contact Number</b></h3></th>
					<th><h3 style="color:white"><b>Booking Date</b></h3></th>
					<th><h3 style="color:white"><b>Booking Time</b></h3></th>
					<th><h3 style="color:white"><b>Service</b></h3></th>
					<th><h3 style="color:white"><b>Action</b></h3></th>
<!--					<th><h3 style="color:white"><b>Approve</b></h3></th>-->
<!--					<th><h3 style="color:white"><b>Reject</b></h3></th>-->
				</thead>
					{% for i in r %}
				<tbody>
								<tr>

						<td><b style="color:white">{{i.name}}</b></td>
						<td><b style="color:white">{{i.email}}</b></td>
						<td><b style="color:white">{{i.phone_num}}</b></td>
						<td><b style="color:white">{{i.booking_date}}</b></td>
						<td><b style="color:white">{{i.booking_time}}</b></td>
						<td><b style="color:white">{{i.service}}</b></td>
<!--						<td><b style="color:white">{{i.action}}</b></td>-->
							<td>

		<a href="accept/{{i.id}}" class="btn-group btn btn-success">ACCEPT</a>
									<a href="reject/{{i.id}}" class="btn-group btn btn-danger">REJECT</a>

	</td>

<!--									</td>-->
				</tr>

        			{% endfor %}
			</table>
		</div>

					<script>
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
				<!-- //script for menu -->
</body>		</div>


			<div class="clearfix"></div>
		</div>
		<style>
			/* CSS code */
			.myDivision {
				width:1450px; /* Set the width to 300 pixels */
				height:auto;
				background-color: rgb(0 0 0 / 80%); /* Optional: Add background color */
				padding: 20px;/* Optional: Add padding */
				opacity:0.7}
		</style>
		<br><br><br>


		<div class="container">
			<!-- header -->
			<!-- //header -->
			<div class="agileits_w3layouts_banner_info">
				<section class="slider">
					<div class="flexslider">

					</div></section></div></div></header></div></body>


</html>