<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>Beauty Salon a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	<!--// Owl-Carousel-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800'" rel="stylesheet">
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
	<div class="banner jarallax" id="home">
		<img class="jarallax-img" src="{% static 'images/p3.jpg' %}" alt="">
		<header>
			<div class="container" style="width:auto">
		<div class="header">
			<div class="logo">
				<h1>
<!--					<a class="link link&#45;&#45;yaku" href="orders">-->
																													<h1><span style="color:black">BEAU</span><span style="color:white">TIFY</span></a></h1>

<!--						<span>B</span><span>e</span><span>a</span><span>u</span><span>t</span><span>y</span>-->
					</a>
				</h1>
			</div>

			<div class="container">
				<div class="header-bottom-agileits">
<!--					<div class="w3-logo">-->
<!--						<h1><a href="artisthome">BEAUTIFY</a></h1>-->

<!--					</div>-->
					<div class="clearfix"></div>
				</div>
			</div>
		</header>

		<!-- navigation -->
		<div class="nav-bg">
<!--			<div class="container">-->
<!--					<nav class="navbar navbar-default shift">-->
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
<!--						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"-->
<!--							aria-expanded="false">-->
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					</head>
				</head>
			<body>
<!--background-->
<br>
<style>
	.previous {
  color: white;
}
</style>
</style>
<br><br><br>
<a href="orders" class="previous">&laquo; Back</a>

<div class="myDivision">
			<br>
			<table border="2" align="center" class="table table-bordered">
				<thead class="thead-light">
				<tr>
					<th><h3 style="color:white"><b>Name</b></h3></th>
					<th><h3 style="color:white"><b>Email</b></h3></th>
					<th><h3 style="color:white"><b>Contact Number</b></h3></th>
					<th><h3 style="color:white"><b>Booking Date</b></h3></th>
					<th><h3 style="color:white"><b>Booking Time</b></h3></th>
					<th><h3 style="color:white"><b>Service</b></h3></th>
					<th><h3 style="color:white"><b>Action</b></h3></th>
				</tr>
				<tr>
					{% for i in r %}
						<td><b style="color:white">{{i.name}}</b></td>
						<td><b style="color:white">{{i.email}}</b></td>
						<td><b style="color:white">{{i.phone_num}}</b></td>
						<td><b style="color:white">{{i.booking_date}}</b></td>
						<td><b style="color:white">{{i.booking_time}}</b></td>
						<td><b style="color:white">{{i.service}}</b></td>
						<td><b style="color:white">{{i.action}}</b></td>

				</tr>

        			{% endfor %}
    			</thead>
			</table>
		</div>
<!--<a href="orders" class="previous">&laquo; Back</a>-->
<!--<div class="navigation">-->
<!--				<span class="menu"><img src="images/menu.png" alt=""/></span>-->
<!--				<ul class="nav1">-->
<!--					<li><a class="hvr-overline-from-center button2 " href="orders">Home</a></li>-->
<!--&lt;!&ndash;					<li><a class="hvr-overline-from-center button2 " href="bp">Profile</a></li>&ndash;&gt;-->
<!--					<li><a class="hvr-overline-from-center button2" href="adser">Add Service</a></li>-->
<!--					<li><a class="hvr-overline-from-center button2" href="vser">View Service</a></li>-->
<!--&lt;!&ndash;					<li><a class="hvr-overline-from-center button2" href="vbbp">Bookings</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;					<li><a class="hvr-overline-from-center button2" href="vconfbybp">View Booking</a></li><br>&ndash;&gt;-->
<!--&lt;!&ndash;					<li><a class="hvr-overline-from-center button2" href="gallbybp">Gallery</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;					<li><a class="hvr-overline-from-center button2" href="vphbybp">View gallery</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;					<li><a class="hvr-overline-from-center button2" href="bppay">Payment</a></li>&ndash;&gt;-->
<!--					<li><a class="hvr-overline-from-center button2" href="logout">Logout</a></li>-->
<!--&lt;!&ndash;					<li><a class="hvr-overline-from-center button2" href="shortcodes.html">Short Codes</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;					<li><a class="hvr-overline-from-center button2" href="contact.html">Contact</a></li>&ndash;&gt;-->
<!--				</ul>-->

				<!-- script for menu -->
					<script>
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
				<!-- //script for menu -->
			</div>

<!--			<div class="search">-->
<!--				<form>-->
<!--					<input type="search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">-->
<!--					<input type="submit" value=" ">-->
<!--				</form>-->
<!--			</div>-->
			<div class="clearfix"></div>
		</div>
		<style>
			/* CSS code */
			.myDivision {
				width:1450px; /* Set the width to 300 pixels */
				height:auto;
				background-color: rgb(0 0 0 / 80%); /* Optional: Add background color */
				padding: 20px;/* Optional: Add padding */
				opacity:0.7}
		</style>
		<br><br><br>
<!--		<div class="myDivision">-->
<!--			<br>-->
<!--			<table border="2" align="center" class="table table-bordered">-->
<!--				<thead class="thead-light">-->
<!--				<tr>-->
<!--					<th><h3 style="color:white"><b>Services</b></h3></th>-->
<!--					<th><h3 style="color:white"><b>Description</b></h3></th>-->
<!--					<th><h3 style="color:white"><b>Amount</b></h3></th>-->
<!--					<th><h3 style="color:white"><b>Update</b></h3></th>-->
<!--					<th><h3 style="color:white"><b>Delete</b></h3></th>-->
<!--				</tr>-->
<!--				<tr>-->
<!--					{% for i in data %}-->
<!--					<td><b style="color:white">{{i.addservice}}</b></td>-->
<!--					<td><b style="color:white">{{i.description}}</b></td>-->
<!--					<td><b style="color:white">{{i.amount}}</b></td>-->
<!--					<td><b>-->
<!--							<form method="POST" action="updser">-->
<!--								{% csrf_token %}-->
<!--								<input type="text" value="{{i.username}}" name="c1" hidden="">-->
<!--								<input type="text" value="{{i.service}}" name="c2" hidden="">-->
<!--								<input type="submit" value="UPDATE" class="btn btn-primary">-->
<!--							</form>-->
<!--					</b></td>-->
<!--					<td><b>-->
<!--							<form method="POST" action="delser">-->
<!--								{% csrf_token %}-->
<!--								<input type="text" value="{{i.addservice}}" name="a1" hidden="">-->
<!--								<input type="text" value="{{i.username}}" name="a2" hidden="">-->
<!--								<input type="submit" value="DELETE" class="btn btn-danger" onclick="return confirm('Are you sure ??')">-->
<!--							</form>-->
<!--					</b></td>-->
<!--				</tr>-->
<!--					{% endfor %}-->
<!--				</thead>-->
<!--			</table>-->
<!--		</div>-->


		<div class="container">
			<!-- header -->
			<!-- //header -->
			<div class="agileits_w3layouts_banner_info">
				<section class="slider">
					<div class="flexslider">

					</div></body>


</html>
