<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>Beauty Salon a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Salon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	<!--// Owl-Carousel-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800'" rel="stylesheet">
	<!--// web-fonts -->
</head>

<body>
	<!-- banner -->
	<div class="banner jarallax" id="home">
		<img class="jarallax-img" src="{% static 'images/p3.jpg' %}" alt="">
		<header>
<!--			<div class="container" style="width:auto">-->
		<div class="header">
			<div class="logo">
				<h1>
<!--					<a class="link link&#45;&#45;yaku" href="orders">-->
																							<h1><span style="color:black">BEAU</span><span style="color:white">TIFY</span></a></h1>

					</a>
				</h1>
			</div>


<!--		<div class="nav-bg">-->

<br>
<style>
	.previous {
  color: white;
}
</style>
</style>
<br><br><br>
<a href="orders" class="previous">&laquo; Back</a>
			<div class="myDivision">
			<br>
			{% for i in r %}
        <div class="container">
            <div class="card-group" style="width:400px;float:left;border: 2px solid white"><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="card-img-top" src="{{i.photo.url}}" alt="Card image" style="width:250px" >
                <div class="card-body">
                  <p class="card-text"></p>
<!--                    <a href="wait" class="btn btn-primary">Profile</a>-->
                </div><br>
            </div>
        </div>
			{% endfor %}
		</div>




					<script>
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
				<!-- //script for menu -->
</ul></body>		</div>


			<div class="clearfix"></div>
		</div>
		<style>
			/* CSS code */
			.myDivision {
				width:1450px; /* Set the width to 300 pixels */
				height:auto;
				background-color: rgb(0 0 0 / 80%); /* Optional: Add background color */
				padding: 20px;/* Optional: Add padding */
				opacity:0.7}
		</style>
		<br><br><br>


		<div class="container">
			<!-- header -->
			<!-- //header -->
			<div class="agileits_w3layouts_banner_info">
				<section class="slider">
					<div class="flexslider">

					</div></section></div></div></header></div></body>


</html>